src/main/resources/service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ddv.com/service/" targetNamespace="http://ddv.com/service/" elementFormDefault="unqualified">
    <element name="services" type="tns:servicesType"></element>

    <complexType name="servicesType">
    	<sequence>
    		<element name="service" type="tns:serviceType" minOccurs="1" maxOccurs="unbounded"></element>
    	</sequence>
    </complexType>

    <complexType name="serviceType">
    	<sequence>
    		<element name="appName" type="string"></element>
    		<element name="actuatorBaseUrl" type="string"></element>
    	</sequence>
    </complexType>
</schema>